@model agenda.Models.ContatoModel
@{
    ViewBag.Title = "Excluir Contato";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <p>Deseja mesmo excluir <strong>@Model.Nome</strong> dos seus contatos?</p>
    <p>
        <input type="submit" value="Excluir" class="btn btn-danger" />
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
